:root{
    --button-color: #4472c4;
    --active-button-color: #70ad47;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 3rem;
}

h2{
    text-align: center;
    border: 1px solid;
padding: 0.3rem;}

nav,
h1{
    display: inline-block;
}

header{
    margin: 12px 0;
}

.nav-element--container{
    position: absolute;
    right: 15px;
}

.header-banner{
    width: 100%;
    height: 40vh;
    background-image: url(../assets/images/design1_image2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: blueviolet; */
}

nav a{
    border: 1px solid black;
    padding: 0.5rem;
    background-color: var(--button-color);
    color: white;
    text-decoration: none;
}